.card-container {
    min-width: 90vw;
}

.title {
    font-size: 1.8em !important;
}

@media (min-width: 768px) {
    .card-container {
        min-width: 60vw;
    }
}

@media (min-width: 1024px) {
    .card-container {
        min-width: 30vw;
    }
}

